
<section class="form-page" id="body-main">
   <h1>Other Good Souls in Your City</h1>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">
            <a class="fade" href="{{url}}">{{first}} {{last}}</a> {{age}}<a class="signer-elem" href="/signers">{{city}}</a>
        </p>
    {{/rows}}
    </div>

</section>

