
<section class="form-page">
   <h1>This is the SIGNERS by City page</h1>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">
            <a class="fade" href="{{url}}">{{first}} {{last}}</a> {{age}}<a class="signer-elem" href="/signers">{{city}}</a>
        </p>
    {{/rows}}
    </div>

</section>
   
   

  

