
<section id="body-main" class="">

    <header>{{>menu in=true sig=true}}</header>
    <h1>Other Good Souls in <span class="cap">{{city}}</span></h1>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">
            <a class="fade" href="{{url}}" >{{first}} {{last}}</a> {{age}}
        </p>
    {{/rows}}
    </div>

</section>