
<section id="body-main" class="">

    <header>{{>menu in=true name=true sig=true}}</header>
    
   <h1>All These Good People</h1>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">

            {{#if url}}
            <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{first}} {{last}}</a> {{age}}{{else}}{{first}} {{last}} {{age}}<a href="/signers/{{city}}">{{city}}</a>
            {{/if}}

        </p>
    {{/rows}}
    </div>

</section>