
<section class="form-page">
    
   <h1>All These Good People</h1>
    <h2>Click on a city link to view all signers in a specific location</h2>

    <div class="signers-box">
    {{#rows}}
        <p class="signer-elem">
            <a class="fade" href="{{url}}">{{first}} {{last}}</a> {{age}}<a class="signer-elem" href="/signers/{{city}}">{{city}}</a>
        </p>
    {{/rows}}
    </div>

</section>
   
   

